<html>
  <body>
    <form action="/new" method="post">
      <label for="user">Username</label>
      <input type="text" name="user" id="user" required>
      <label for="message">Message</label>
      <textarea type="text" name="message" id="message" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>